
header {
    font-family: 'FrutigerLTStd', Open Sans Light, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2em;
    color: var(--rotary-royal-blue);
}

.rotary-text {
    width: 55%;
}

.rotary-text,
.masterbrand {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    /* Adjust as needed */
}

.rotary-masterbrand-signature {
    display: flex;
    justify-content: start;
    min-width: 150px;
    max-width: 400px;
    align-items: flex-start;
    align-items: center;
    aspect-ratio: 2.3 / 1;
    /* Adjust if needed */
}

.rotary-text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Aligns text to the right */
    max-width: 100%;
    margin-right: 1em;
    
}

/* Ensuring SVGs scale within their containers */
.rotary-text img {
    width: 100%;
    height: 25%;
}

.masterbrand img {
    height: 60%;
    width: 60%;
    aspect-ratio: 1 / 1;
}

.text-above,
.text-below {
    font-family: 'FrutigerLTStd', Arial, sans-serif;
    font-size: 1em;
    text-align: right;
    white-space: nowrap;
}

