// _masterbrand.scss
@use 'colors'; // Assuming _colors.scss is in the same directory and contains the color variables

header {
  // font-family: 'FrutigerLTStd', Open Sans Light, Arial, Helvetica, sans-serif;
  font-family: 'Frutiger', Open Sans Light, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2em;
  color: colors.$rotary-royal-blue;

  .rotary-text,
  .masterbrand {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    // Adjust as needed
  }

  .rotary-masterbrand-signature {
    display: flex;
    justify-content: start;
    width: 30%;
    min-width: 150px;
    max-width: 400px;
    align-items: flex-start;
    // Adjust if needed
  }

  .rotary-text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end; // Aligns text to the right
    max-width: 160%;
    margin-right: 1em;
  }

  // Ensuring SVGs scale within their containers
  .rotary-text img,
  .masterbrand img {
    width: 100%;
    height: auto;
  }

  .text-above,
  .text-below {
    font-family: 'Frutiger', Open Sans Light, Arial, Helvetica, sans-serif;
    font-size: 8em; // Default size
    margin: 0 .3em 0 0; // Space above and below the text
    word-wrap: break-word;
    text-align: right;
  }
}

@media (min-width: 600px) {
  header .text-above,
  header .text-below {
    font-size: 1.4em; // Slightly larger on wider screens
  }
}

@media (min-width: 1000px) {
  header .text-above,
  header .text-below {
    font-size: 2.2em;
    width: 160%; // Even larger on larger screens
  }
}
